@page "/students"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorServerAppCode.Models
@using BlazorServerAppCode.Models
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorServerAppCode.Models.StudentsContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>List of Students</h1>

<p>
    <a href="students/create" class="btn btn-primary">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Students">
    <PropertyColumn Property="students => students.Name" />
    <PropertyColumn Property="students => students.Address" />

    <TemplateColumn Context="students">
        <a href="@($"students/edit?rollno={students.RollNo}")" class="btn btn-info">Edit</a> |
        <a href="@($"students/details?rollno={students.RollNo}")" class="btn btn-primary">Details</a> |
        <a href="@($"students/delete?rollno={students.RollNo}")" class="btn btn-danger">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private StudentsContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
