
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<partial name="_WelcomeView" />
<partial name="_WelcomeView" />
<partial name="_WelcomeView" />
<partial name="_WelcomeView" />
<partial name="_WelcomeView" />