@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-controller="Home" asp-action="Contact">Contact</a>
<a asp-controller="Home" asp-action="About"asp-route-id=12 >About</a>
<a asp-controller="Home" asp-action="FormTest"asp-route-id=12 >FormTest</a>
<img src="~/images/two.png" asp-append-version="true" height="200" width="200" alt="image"/>